{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Tienda{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'core/styles.css' %}">
</head>
<body>
  <nav class="navbar">
    <div class="container">
      <ul class="menu">
        {% if user.is_authenticated %}
          {% if user.is_staff %}
            <li><a href="{% url 'admin_dashboard' %}">Panel</a></li>
            <li><a href="{% url 'create_product' %}">Nuevo Producto</a></li>
          {% endif %}
          <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
        {% else %}
          <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
          <div class="currency-selector">
              <span>Moneda: </span>
              <a href="{% url 'change_currency' 'COP' %}" 
                class="{% if request.session.currency == 'COP' %}active{% endif %}">
                  COP
              </a>
              <a href="{% url 'change_currency' 'USD' %}" 
                class="{% if request.session.currency == 'USD' %}active{% endif %}">
                  USD
              </a>
          </div>
        {% endif %}
    </div>
  </nav>

  <main class="container">
    {% block content %}{% endblock %}
  </main>
</body>
</html>
