{% extends "../base.html" %}
{% block content %}
<h1>Carrito</h1>
<ul>
  {% for item in converted_items %}
    <div class="cart-item">
      <h4>{{ item.product.name }}</h4>
      <p>Precio: {{ item.converted_price }}</p>
      <p>Cantidad: {{ item.quantity }}</p>
      <p>Total: {{ item.converted_total }}</p>
    </div>
  {% endfor %}
  <div class="cart-total">
    <strong>Total: {{ total_converted }}</strong>
  </div>
</ul>
<a href="{% url 'checkout' %}" class="btn">Proceder al pago</a>
{% endblock %}
